// COLORS
$--white: #ffffff;

$--darkBlue: #0f1073;
$--darkBlue2: #3f408f;
$--darkBlue3: #6f70ab;
$--darkBlue4: #9f9fc7;
$--darkBlue5: #cfcfe3;

$--blue: #038dd3;
$--blue2: #35a4dc;
$--blue3: #68bbe5;
$--blue4: #9ad1ed;
$--blue5: #cde8f6;

$--red: #e17171;
$--red2: #e78d8d;
$--red3: #edaaaa;
$--red4: #f3c6c6;
$--red5: #f3c6c6;
$--red6: #f8dbdb;

$--yellow: #ffb82d;
$--yellow2: #ffc657;
$--yellow3: #ffd481;
$--yellow4: #ffe3ab;
$--yellow5: #fff1d5;

$--green: #2ab26f;
$--green2: #55c18c;
$--green3: #7fd1a9;
$--green4: #aae0c5;
$--green5: #d4f0e2;

$--gray: #718096;
$--gray2: #b8bfcb;
$--gray3: #d6dbe1;
$--gray4: #eaebed;
$--gray5: #f8f9fa;
$--gray6: #e5e5e5;

$--black: #2d3748;
$--black2: #575f6d;
$--black3: #818791;
$--black4: #abafb6;
$--black5: #d5d7da;
